include('/etc/mock/fedora-44-x86_64.cfg')

config_opts['root'] = 'hyprwm-fedora-44-x86_64'
config_opts['rpmbuild_networking'] = False
config_opts['use_host_resolv'] = False
config_opts['cleanup_on_success'] = True
config_opts['cleanup_on_failure'] = False
# Hyprland's C++26/PCH build is memory-bound on ordinary 16 GiB systems.
config_opts['macros']['%_smp_build_ncpus'] = '4'
